body.dark-mode {
  background-color: #222;
  color: #fff;
}

body.light-mode {
  background-color: #fff;
  color: #000;
}
.container {
    display: flex;
}

.form-container {
    flex: 1;
}

.list-container {
    flex: 1;
}
