/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Couleur de fond par défaut (mode clair) */
  color: #333;
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

#theme-switcher {
  font-size: 24px;
  cursor: pointer;
}

.dark-mode .theme-switcher {
  content: "\f186"; /* Code Unicode de la lune */
}
